<footer class="footer">
  <div class="container footer__inner">
    <div class="footer__copyright">
      &copy; <%= new Date().getFullYear() %> <%= lang('company') %>. <%= lang(
        'license'
      ) %>.
    </div>
    <div class="footer__social">
      <% ['github', 'telegram'].forEach(s => { %>
      <a
        href="<%= lang(`social:${s}.url`) %>"
        target="_blank"
        rel="noopener noreferrer"
        ><%= lang(`social:${s}.name`) %></a
      >
      <% }) %>
    </div>
  </div>
</footer>
