# Auto detect text files and perform LF normalization
* text=auto

# Binary assets
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg text
*.webp binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.otf binary
