<section class="section">
  <div class="container" style="max-width: 480px">
    <h2 class="section__title" style="margin-bottom: 32px">
      <%= lang('nav:login') %>
    </h2>
    <form class="contact__form" method="POST" action="/login">
      <input type="text" name="username" placeholder="<%= lang('common:username') %>" required />
      <input type="password" name="password" placeholder="<%= lang('common:password') %>" required />
      <button type="submit"><%= lang('nav:login') %></button>
    </form>
  </div>
</section>
